@import "partials/variables";

.hidden {
    display: none;
    overflow: hidden;
}

.l-wrap {
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}


/* Layout */

.layout {
    h2 {
        color: $peachSecondary;
    }
    &__body {
        background-color: $white;
    }
    &__container {
        background-color: inherit;
    }
    &__content {
        @extend .l-wrap;
    }
}

/* Header */

.header__container {
    background-color: $mintPrimary;
}

.header-primary {
    padding-bottom: 5px;
}

/* Card */

.content-box__content {
    margin: 15px 0;
    p {
        margin: 10px 0;
    }
}

.content-box__button {
    margin: 10px 0;
}

.content-box__content--question {
    font-size: 1.4em;
}

/* Progress bars */

.l-progress-bar {
    width: 100%;
    &:first-child {
        padding-bottom: 25px;
    }

    @media (min-width:568px) {
        width: 50%;
        float: left;
        &:first-child {
            padding-bottom: 0;
        }
    }
}

.progress-bars {
    width: 75%;
    margin: 35px auto 0;

    &::after {
        content: "";
        clear: both;
        display: table;
    }
}

.progress-bar {
    width: 185px;
    margin: 0 auto;
    &__container {
        background-color: $graySecondaryLight;
    }
    &__bar {
       height: 5px;
        margin-bottom: 5px;
        &--questions {
            background-color: $graySecondary;
        }
        &--mistakes {
            background-color: $peachPrimary;
        } 
    }
}
