$bluePrimary:#57b2f8;
$blueSecondary:#abe1ff;
$blueSecondaryLight:#daf3ff;

$mintPrimary: #53cf92;
$mintSecondary:#b4efc2;
$mintSecondaryLight:#ddf7e5;

$peachPrimary:#ff796b;
$peachSecondary:#ffb3ae;
$peachSecondaryLight:#ffe2e0;

$lavenderPrimary:#7a8adb;
$lavenderSecondary:#b3c4ff;
$lavenderSecondaryLight:#e2e8ff;


$black:#020a1b;
$white: #fff;


$grayPrimary:#434e66;
$graySecondary:#9fa6b5;
$graySecondaryLight:#e1e8ed;
$graySecondaryLightest:#f0f3f5;